In [1]:
# load sample dataset
import pandas as pd
import seaborn as sns

from ydata_profiling import ProfileReport

df = pd.read_csv('./data/hotel_revenue.csv')
print(df.shape)
df

(141947, 32)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,2018-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141942,City Hotel,1,1,2020,February,5,1,0,0,1,...,No Deposit,NaN,153.0,0,Transient,0.0,0,1,No-Show,2020-02-01
141943,City Hotel,1,31,2020,July,29,16,2,0,1,...,No Deposit,NaN,NaN,0,Transient,135.0,0,2,No-Show,2020-07-16
141944,City Hotel,1,25,2020,May,18,6,2,1,1,...,No Deposit,NaN,450.0,0,Transient,125.0,0,0,No-Show,2020-05-06
141945,City Hotel,1,6,2020,July,29,17,1,0,1,...,No Deposit,NaN,238.0,0,Transient,65.0,0,0,No-Show,2020-07-17
141946,City Hotel,1,0,2020,August,31,2,0,2,1,...,No Deposit,NaN,40.0,0,Transient,65.0,0,1,No-Show,2020-08-02

In [2]:
# simple check for nulls
df.isna().sum()[df.isna().sum() > 0]

children         8
country        625
agent        19555
company     133822
dtype: int64

In [3]:
profile = ProfileReport(df)
# profile.to_notebook_iframe()
profile.to_file('./hotel_rev.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
num_cols = df.select_dtypes(include = 'number').columns
cat_cols = df.select_dtypes(include = 'object').columns

In [5]:
df[cat_cols].describe().T

                          count unique         top    freq
hotel                    141947      2  City Hotel   93103
arrival_date_month       141947     12      August   17772
meal                     141947      5          BB  109878
country                  141322    177         PRT   62384
market_segment           141947      8   Online TA   62840
distribution_channel     141947      5       TA/TO  116042
reserved_room_type       141947     10           A  104124
assigned_room_type       141947     12           A   88864
deposit_type             141947      3  No Deposit  123396
customer_type            141947      4   Transient  101474
reservation_status       141947      3   Check-Out   89198
reservation_status_date  141947    925  2018-10-21    1461

In [6]:
df[num_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,141947.0,0.372245,0.483405,0.00,0.00,0.00,1.0,1.0
lead_time,141947.0,102.821102,106.478569,0.00,17.00,68.00,158.0,737.0
arrival_date_year,141947.0,2019.131676,0.651352,2018.00,2019.00,2019.00,2020.0,2020.0
arrival_date_week_number,141947.0,29.061058,13.604758,1.00,18.00,30.00,40.0,53.0
arrival_date_day_of_month,141947.0,15.748970,8.737314,1.00,8.00,16.00,23.0,31.0
stays_in_weekend_nights,141947.0,0.927557,1.000817,0.00,0.00,1.00,2.0,19.0
stays_in_week_nights,141947.0,2.495509,1.909784,0.00,1.00,2.00,3.0,50.0
adults,141947.0,1.852551,0.628553,0.00,2.00,2.00,2.0,55.0
children,141939.0,0.097401,0.388549,0.00,0.00,0.00,0.0,10.0
babies,141947.0,0.008285,0.100520,0.00,0.00,0.00,0.0,10.0
is_repeated_guest,141947.0,0.031364,0.174300,0.00,0.00,0.00,0.0,1.0
previous_cancellations,141947.0,0.125413,1.059631,0.00,0.00,0.00,0.0,26.0
previous_bookings_not_canceled,141947.0,0.120327,1.381798,0.00,0.00,0.00,0.0,72.0
booking_changes,141947.0,0.213939,0.636479,0.00,0.00,0.00,0.0,21.0
agent,122392.0,85.685854,109.628598,1.00,9.00,14.00,229.0,535.0
company,8125.0,183.236062,128.921950,6.00,51.00,174.00,269.0,543.0
days_in_waiting_list,141947.0,2.305565,16.938253,0.00,0.00,0.00,0.0,391.0
adr,141947.0,99.416916,49.675549,-6.38,65.75,90.95,123.0,5400.0
required_car_parking_spaces,141947.0,0.062129,0.244205,0.00,0.00,0.00,0.0,8.0
total_of_special_requests,141947.0,0.549677,0.786541,0.00,0.00,0.00,1.0,5.0